
<script src="/axios/dist/axios.min.js"></script>
<script src="/js/scripte.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="/jquery/dist/jquery.js"></script>
</body>
</html>