<%-include('../partials/header')-%>
<%-include('../partials/navbar')-%>
<div class="row">
    <div class="col-lg-4 m-auto">
        Profile : 
        <p><%-include('../partials/flashMessages')-%></p>
    </div>
</div>

<%-include('../partials/footer')-%>